include ./treeNavigation.pug
doctype html
html
  head
    title="Tree"
  body
    div(class="tree-page")
      h1(class="tree-page__title")=commit
      +treeNavigation(navigation, "tree-page__navigation")
      ul(class="tree-list")
        each object in objects
          li(class="tree-list__item")
            -if (object.type === 'link-back')
              div(class="link-back")
                a(class="link-back__link", href='/tree?commit=' + object.commit + '&path=' + object.path)=".."
            -if (object.type === 'blob')
              div(class="blob-object")
                a(class="blob-object__link", href='/blob?hash=' + object.hash + '&path=' + object.path + '&commit=' + object.commit)=object.name
            -if (object.type === 'tree')
              div(class="tree-object")
                a(class="tree-object__link", href='/tree?hash=' + object.hash + '&path=' + object.path + '&commit=' + object.commit)=object.name